

/* Pentago specific */

/*
	this file holds the styles that are specific to Pentago
*/


h2 span {
	margin-left: 50px;

	span {
		margin-left: 0;
	}
}

h2 span.name {
	margin-left: 0;
}


#fancybox-content {
	background-color: #000 !important;
}

